* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: #048243;
  padding: 2px 5px;
}

.container {
  background-color: #CAFFFB;
  margin: 10px auto;
  width: 85%;
  min-height: 100vh;
}